.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 85px;
  flex-shrink: 0;
}

.footer {
  height: 85px; 
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  overflow-y: auto; 
  min-height: calc(100vh - 85px -85px);
}
