.password-change-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar {
  width: 200px;
  margin-right: 20px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar li.active {
  color: #ff6600;
  font-weight: bold;
}

.pwchange-main-content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-form .form-group {
  margin-bottom: 20px;
}

.password-form .input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.submit-button {
  width: 150px;
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  float: right;
}

.submit-button:hover {
  background-color: #e65c00;
}
