html {
  height: 100%;
}
body {
  height: 100%;
  background-repeat: white;
}
#root {
  height: 100%;
}

@font-face {
  font-family: 'SeoulHangang CM-BL';
  src: url('./assets/fonts/SeoulHangang CM-BL.ttf') format('truetype');
  font-weight: black;
  font-style: normal;
}

body {
  font-family: 'SeoulHangang CM-BL', sans-serif;
}
